* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  margin: 10px;
}

.header {
  background-color: #ff0000;
  border-radius: 10px;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 #bbbbbb;
}
.header h1 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
}
.header h2 {
  font-size: 18px;
}

section > h3 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 10px;
}

.products {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid white;
  box-shadow: 0 0 10px 0 #bbbbbb;
}

.products img {
  width: 130px;
  float: right;
  border-radius: 5px;
}
.products h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.products p {
  margin-bottom: 10px;
}
