* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  margin: 10px;
}

.header {
  background-color: #ff0000;
  border-radius: 10px;
  padding: 15px;
  color: white;
  box-shadow: 0 0 10px 0 #bbbbbb;
}
.header h1 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
}
.header h2 {
  font-size: 18px;
}

section h3 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.products {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid white;
  box-shadow: 0 0 10px 0 #bbbbbb;
}

.products img {
  width: 130px;
  float: right;
  border-radius: 5px;
}
.product_title {
  margin-bottom: 10px;
  font-size: 20px;
}

.product_description {
  margin-bottom: 10px;
}

.product_prize {
  font-size: 18px;
  font-weight: bold;
}

.button button {
  background-color: #0b940b;
  width: 100%;
  padding: 15px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
